<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Pokemon</title>
    <%- include ("./cssjs.ejs") %>
</head>
<body>
    <h1>Add New Pokemon</h1>
    <a href="/pokemon">Back To Index</a>
    <form action="/pokemon" method="post">
        <label>Name: <input type="text" name="name" placeholder="Pokemon name"></label><br>
        <label>Img: <input type="text" name="img" placeholder="Img url"></label><br>
        <label>Type: <input type="text" name="type" placeholder="Pokemon type, please put a ',' in-between two different types"></label><br>
        <label>Hp: <input type="text" name="hp" placeholder="Enter hp"></label><br>
        <label>Attack: <input type="text" name="attack" placeholder="Enter attack"></label><br>
        <label>Defense: <input type="text" name="defense" placeholder="Enter defense"></label><br>
        <input type="submit" value="Add New Pokemon">
    </form>
</body>
</html>