<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Pokemon</title>
    <%- include ("./cssjs.ejs") %>
</head>
<body>
    <h1>Create New Pokemon</h1>
    <form action="/pokemon" method="post">
        <label>Name: <input type="text" name="name"></label>
        <label>Img: <input type="text" name="img"></label>
        <label>Type: <input type="text" name="type"></label>
        <label>Hp: <input type="text" name=""></label>

    </form>
</body>
</html>