<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Pokemon</title>
    <%- include ("./cssjs.ejs") %>
</head>
<body>
    <h1>Add New Pokemon</h1>
    <form action="/pokemon" method="post">
        <label>name: <input type="text" name="name"></label><br>
        <label>img: <input type="text" name="img"></label><br>
        <label>type: <input type="text" name="type"></label><br>
        <label>hp: <input type="text" name="hp"></label><br>
        <label>attack: <input type="text" name="attack" ></label><br>
        <label>defense: <input type="text" name="defense"></label><br>
        <input type="submit" value="Add New Pokemon">
    </form>
</body>
</html>