@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: antiquewhite;
    text-align: center;
    margin: 0px;
}


ul {
    list-style-type: none;
}

.flex-box{
    display: flex;
    max-width: 100svw;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.card{
    padding: 24px;
    color: var(--black);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    border-radius: 16px;
    box-shadow: 8px 8px 20px #adadad, -8px -8px 20px #ebebeb;
}

.pokeimg{
    height: 100px;
    width: 100px;
}

.pokeimg img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}

